export(run_eDITH_BT)
export(eval_posterior_eDITH)
export(posterior_pred_sim_eDITH)
export(run_eDITH_optim)
importFrom(Rcpp, evalCpp)
import(BayesianTools)
importFrom(LaplacesDemon, dtrunc, rtrunc)
import(OCNet)
import(DHARMa)
import(optimParallel)
importFrom(rivnet,aggregate_river)
importFrom("stats", "sd", "plnorm", "pnbinom", "pnorm","median","rnorm","rlnorm","rnbinom","rbinom")
useDynLib(eDITH, .registration=TRUE)
