export(run_eDITH_BT)
export(eval_posterior_eDITH)
importFrom(Rcpp, evalCpp)
import(BayesianTools)
importFrom(LaplacesDemon, dtrunc, rtrunc)
import(OCNet)
importFrom(rivnet,aggregate_river)
importFrom("stats", "sd", "plnorm", "pnbinom", "pnorm","median")
useDynLib(eDITH, .registration=TRUE)
